

<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey vc_custom_1468325452382  vc_custom_1468325452382">

</div>



<div class="vc_row wpb_row vc_row-fluid vc_custom_1467720363707">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <h2 style="text-align: center" class="vc_custom_heading boat-third-color vc_custom_1467720128599">Mais Requisitadas</h2>
                <div class="colored-separator text-center style_1">
                    <div><i class="stm-boats-icon-wave stm-base-color"></i></div>
                </div>
                <div class="stm-featured-boats  vc_custom_1467720236990">
                    <div class="stm-featured-boats-units row row-4 car-listing-row">



  <% unless @houses.nil? %>
<%  @houses.each do |house| %>


                        <div class="col-md-3 col-sm-4 col-xs-12 col-xxs-12 stm-template-front-loop">
                            <a href="/houses/<%= house.id %>" class="rmv_txt_drctn xx external" rel="nofollow">
                                <div class="image"> 

                                    <img width="255" height="135" src="<%= house.house_attachments.first.image_url(:index).to_s%>" class="attachment-stm-img-255-135 size-stm-img-255-135" alt="<%= house.name %>" loading="lazy" >
                                    <div class="boats-image-unit">
                                        <div class="stm-listing-photos-unit stm-car-photos-2080 stm-car-photos-2080-452466947"> <i class="stm-boats-icon-camera"></i> <span><%= house.house_attachments.count %></span> </div>
                                        <script></script>
                                        <div class="stm-listing-videos-unit stm-car-videos-2080 stm-car-videos-2080-544867480"> <i class="stm-boats-icon-movie"></i> <span>6</span> </div>
                                        <script></script>
                                    </div>
                                    <!--Compare-->
                              
                                </div>
                                <div class="listing-car-item-meta">
                                    <div class="car-meta-top heading-font clearfix">
                                        <div class="price">
                                            <div class="normal-price">$<%=  house.price %></div>
                                        </div>
                                        <div class="car-title"><%= house.name %> </div>
                                    </div>
                                    <div class="car-meta-bottom">
                                        <ul>
                                            <li>  <span><%= house.body[0..32] %>&hellip;</span> </li>
                                       
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>




<% end %>


<% end %>







                    </div>
                    <div class="text-center">
                        <div class="dp-in"> <a class="button external" href="/houses" rel="nofollow">
                    Veja todos os imoveis             </a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>