<div data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid stm-slider-nice-height vc_custom_1448545243300" style="position: relative; left: -80.5px; box-sizing: border-box; width: 1301px; padding-left: 80.5px; padding-right: 80.5px;">
       <div class="wpb_column vc_column_container vc_col-sm-12">
              <div class="vc_column-inner">
                     <div class="wpb_wrapper">
                            <div class="wpb_revslider_element wpb_content_element">
                                   <!-- START Home Slider REVOLUTION SLIDER 6.3.5 -->
                                   <rs-fullwidth-wrap id="rev_slid_1_1_forcefullwidth" style="margin-top:0px;margin-bottom:0px;">
                                          <rs-module-wrap id="rev_slider_1_1_wrapper" style="background: transparent; padding: 0px; margin: 0px auto; width: 1301px;visibility: visible; position: relative; overflow: visible; left: -96px;">
                                                 <video style="width: 100%; height:100%;" autoplay="autoplay" loop="loop" muted="muted">
                                                        <source src="/videos/renato.mp4" type="video/mp4"> </rs-module-wrap>
                                   </rs-fullwidth-wrap>
                                   <!-- END REVOLUTION SLIDER -->
                            </div>
                     </div>
              </div>
       </div>

</div>

       <section class="search-sec" true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1467712651670" style="width: 100%; 

    padding-top: 37px !important;
    padding-bottom: 22px !important;
    z-index: 99;
      position: relative;
    top: -100px;
    background: rgba(26, 70, 104, 0.51);


">
    <div class="container">
        <form action="#" method="post" novalidate="novalidate">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-12 p-0">
                            <input type="text" class="form-control search-slt" placeholder="Enter Pickup City">
                        </div>
                       
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <button type="button" class="btn btn-danger wrn-btn">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>


<%= erb :"/shared/section.html",  :layout => false %>
       <%= erb :"/shared/boats.html", :layout => false %>
        <%= erb :"/shared/houses.html", :layout => false %>
              <%= erb :"/shared/services.html", :layout => false %>
                     <%= erb :"/shared/about.html", :layout => false %>