<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey vc_custom_1468301790685  vc_custom_1468301790685"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>


<div class="vc_row wpb_row vc_row-fluid vc_custom_1468411343707"><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-9 vc_col-md-9"><div class="vc_column-inner"><div class="wpb_wrapper"><h2 style="font-size: 36px;text-align: left" class="vc_custom_heading">Embarcações a Venda</h2><div class="archive-listing-page">
    <div class="container">
        <div class="row">

    <div class="col-md-12 col-sm-12 classic-filter-row sidebar-sm-mg-bt">
            <form action="https://motors.stylemixthemes.com/boats/inventory/" method="get" data-trigger="filter">
        <div class="filter filter-sidebar stm-filter-sidebar-boats">
                        <div class="row row-pad-top-24">
                <div class="stm-boats-shorten-filter clearfix">
                                            <div class="col-md-12 col-sm-6 stm-filter_make">
                            <div class="form-group">
                                <select name="make" class="form-control select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                        <option value="" selected="selected">Make</option>
                    <option value="alison">Alison Jr</option>
                    <option value="bay-craft">Bay Craft</option>
                    <option value="bayliner">Bayliner</option>
                    <option value="glastron">Glastron</option>
            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-make-br-container"><span class="select2-selection__rendered" id="select2-make-br-container" title="Make">Make</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>                            </div>
                        </div>
                    
                                                                                <div class="col-md-12 col-sm-6 stm-filter_serie">
                            <div class="form-group">
                                <select name="serie" class="form-control select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                        <option value="" selected="selected">Model</option>
                    <option value="gt180br-2">GT180BR</option>
                    <option value="lp-elite">LP Elite</option>
                    <option value="lp123p">LP123p</option>
                    <option value="md878k">MD878k</option>
                    <option value="mx099jt">MX099JT</option>
                    <option value="pa999kk">PA999KK</option>
                    <option value="pk845l">PK845l</option>
                    <option value="po232j">PO232j</option>
                    <option value="premium">Premium</option>
                    <option value="st999k">ST999k</option>
            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-serie-g0-container"><span class="select2-selection__rendered" id="select2-serie-g0-container" title="Model">Model</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>                            </div>
                        </div>
                    
                                                                                <div class="col-md-12 col-sm-6 stm-filter_condition">
                            <div class="form-group">
                                <select name="condition" class="form-control select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                        <option value="" selected="selected">Condition</option>
                    <option value="new-cars">New</option>
                    <option value="used-cars">Used</option>
            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-condition-e5-container"><span class="select2-selection__rendered" id="select2-condition-e5-container" title="Condition">Condition</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>                            </div>
                        </div>
                    
                                                        </div>
                <div class="stm-boats-expand-filter col-md-12">
                    <span>More options</span></div>
                    <script></script>
                <div class="stm-boats-longer-filter clearfix">
                                                            <div class="col-md-12 col-sm-6 stm-filter_ca-year">
                            <div class="form-group">
                                <select name="ca-year" class="form-control select2-hidden-accessible" tabindex="-1" aria-hidden="true">
    </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-ca-year-q3-container"><span class="select2-selection__rendered" id="select2-ca-year-q3-container"></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>                            </div>
                        </div>
                    
                                                        <div class="col-md-12 col-sm-12">
    <div class="filter-price stm-slider-filter-type-unit">
        <div class="clearfix">
            <h5 class="pull-left">Price</h5>
            <div class="stm-current-slider-labels">$60 000 — $500 000</div>
        </div>

        <div class="stm-price-range-unit">
            <div class="stm-price-range stm-filter-type-slider ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"><div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; width: 100%;"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0%;"></span><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 100%;"></span></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-md-wider-right">
                <input type="text" name="min_price" id="stm_filter_min_price" class="form-control">
            </div>
            <div class="col-md-6 col-sm-6 col-md-wider-left">
                <input type="text" name="max_price" id="stm_filter_max_price" class="form-control">
            </div>
        </div>
    </div>

    <!--Init slider-->
    
<script></script></div>
                                                                                <div class="col-md-12 col-sm-6 stm-filter_boat-type">
                            <div class="form-group">
                                <select name="boat-type" class="form-control select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                        <option value="" selected="selected">Boat type</option>
                    <option value="boat">Boat</option>
                    <option value="canoe">Canoe</option>
                    <option value="dinghy">Dinghy</option>
                    <option value="jet-sky">Jet Sky</option>
                    <option value="sailboat">Sailboat</option>
                    <option value="yacht">Yacht</option>
            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-boat-type-ic-container"><span class="select2-selection__rendered" id="select2-boat-type-ic-container" title="Boat type">Boat type</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>                            </div>
                        </div>
                    
                                                                                <div class="col-md-12 col-sm-6 stm-filter_fuel">
                            <div class="form-group">
                                <select name="fuel" class="form-control select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                        <option value="" selected="selected">Fuel type</option>
                    <option value="diesel">Diesel</option>
                    <option value="biofuels-biodiesel-and-bioethanol">Ethanol</option>
                    <option value="fuel">Fuel</option>
                    <option value="gas">Gas</option>
                    <option value="premium-petrol">Hybrid</option>
            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-fuel-xh-container"><span class="select2-selection__rendered" id="select2-fuel-xh-container" title="Fuel type">Fuel type</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>                            </div>
                        </div>
                    
                                                                                <div class="col-md-12 col-sm-6 stm-filter_hull_material">
                            <div class="form-group">
                                <select name="hull_material" class="form-control select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                        <option value="" selected="selected">Hull material</option>
                    <option value="aluminium">Aluminium</option>
                    <option value="carbon-fiber">Carbon Fiber</option>
                    <option value="composite">Composite</option>
                    <option value="ferro-cement">Ferro-Cement</option>
            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-hull_material-8d-container"><span class="select2-selection__rendered" id="select2-hull_material-8d-container" title="Hull material">Hull material</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>                            </div>
                        </div>
                    
                                                                        <!--Location inputs-->


                </div>
            </div>

            <!--View type-->
            <input type="hidden" id="stm_view_type" name="view_type" value="">
            <!--Filter links-->
            <input type="hidden" id="stm-filter-links-input" name="stm_filter_link" value="">
            <!--Popular-->
            <input type="hidden" name="popular" value="">

            <input type="hidden" name="s" value="">
            <input type="hidden" name="sort_order" value="">

            <button id="stm-classic-filter-submit" class="stm-classic-filter-submit-boats" type="submit">
                <i class="stm-icon-search"></i>
                <span>10</span>
                Items            </button>

                    </div>

        
    </form>


    </div>

    <div class="col-md-12 col-sm-12">

        <div class="stm-ajax-row">
            
<div class="stm-car-listing-sort-units clearfix sort-type-list">
            
<div class="stm-sort-list-params">
	<ul class="heading-font clearfix">
					<li class="main" data-sort="none" data-filter="make">
				<span>Make</span>
			</li>
		
									<li class="length_range" data-sort="none" data-filter="length_range">
					<span>Length</span>
				</li>
							<li class="ca-year" data-sort="none" data-filter="ca-year">
					<span>Year</span>
				</li>
							<li class="fuel" data-sort="none" data-filter="fuel">
					<span>Fuel type</span>
				</li>
							<li class="hull_material" data-sort="none" data-filter="hull_material">
					<span>Hull material</span>
				</li>
						<li class="location" data-sort="none" data-filter="stm_car_location">
				<span>Location</span>
			</li>
		
		<li class="price-main" data-sort="none" data-filter="price">
			<span>Price</span>
		</li>
	</ul>
</div>

<script></script>    </div>
            <div id="listings-result">
                
    <div class="stm-isotope-sorting stm-isotope-sorting-list">
<% if @boats != %>
<%  @boats.where(:sell=>true).each  do |boat| %>

        
<div class="listing-list-loop stm-isotope-listing-item all alison-373 composite-359 premium-petrol-90 jet-sky-366 premium-383 used-cars-113" data-price="60100" data-date="201607180641" data-mileage="0" data-make="Alison Jr" data-hull_material="Composite" data-fuel="Hybrid" data-boat-type="Jet Sky" data-serie="Premium" data-condition="Used" data-stm_car_location="Seaside Post Office" data-length_range="99" data-ca-year="1992">
    
<div class="image">
    <a  href="/boats/<%= boat.id %>" class="rmv_txt_drctn external" rel="nofollow">
        <div class="image-inner">
                                            <img  src="<%= boat.boat_attachments.first.image_url(:index).to_s%>" class="lazy img-responsive" alt="1992 Alison Jr Premium ">

            					<div class="stm-badge-directory heading-font ">
			Special		</div>
	        </div>
        <div class="boats-image-unit">            <div class="stm-listing-photos-unit stm-car-photos-2080 stm-car-photos-2080-619022694">
                <i class="stm-boats-icon-camera"></i>
                <span><%= boat.boat_attachments.count %></span>
            </div>

            <script></script>
                        <div class="stm-listing-videos-unit stm-car-videos-2080 stm-car-videos-2080-1013843175">
            <i class="stm-boats-icon-movie"></i>
            <span>6</span>
        </div>

        <script></script>
    </div>        <!--Compare-->
            </a>
</div>
    <div class="content">
        <div class="meta-top">
            <div class="price">
            <div class="normal-price">
                                                        <span class="label-price">Our Price</span>
                                        <span class="heading-font">$60 100</span>
                            </div>
        </div>
        <div class="title heading-font">




        <a href="/boats/<%= boat.id %>" class="rmv_txt_drctn external" rel="nofollow">
           <%= boat.name %>       </a>
    </div>
</div>
        
    <div class="meta-middle">


                                
                                                <div class="meta-middle-unit font-exists length_range">

                        <div class="meta-middle-unit-top">
                                                            <div class="icon"><i class="stm-boats-icon-size"></i></div>
                                                        <div class="name">
                               
              <%= boat.body %>                    </div>
                        </div>
                    </div>
                                                            
                                                <div class="meta-middle-unit font-exists ca-year">
                        <div class="meta-middle-unit-top">
                                                            <div class="icon"><i class="stm-icon-date"></i></div>
                                                        <div class="name">
                                1992                            </div>
                        </div>
                    </div>
                                                            
                                                <div class="meta-middle-unit font-exists fuel">
                        <div class="meta-middle-unit-top">
                                                            <div class="icon"><i class="stm-icon-fuel"></i></div>
                                                        <div class="name">
                                Hybrid                            </div>
                        </div>
                    </div>
                                                            
                                                <div class="meta-middle-unit font-exists hull_material">
                        <div class="meta-middle-unit-top">
                                                            <div class="icon"><i class="stm-boats-icon-sail"></i></div>
                                                        <div class="name">
                                Composite                            </div>
                        </div>
                    </div>
                                                            
                                                <div class="meta-middle-unit font-exists stm_car_location">
                        <div class="meta-middle-unit-top">
                                                            <div class="icon"><i class="stm-boats-icon-pin"></i></div>
                                                        <div class="name">
                                Seaside Post Office                            </div>
                        </div>
                    </div>
                                        </div>
    </div>

    <a href="https://motors.stylemixthemes.com/boats/listings/alison-premium/" class="stm-car-view-more button visible-xs external" rel="nofollow">View more</a>
</div>










<% end %>


<% end %>



































    </div>





        <div class="stm_ajax_pagination stm-blog-pagination">
              <%= pagy_bootstrap_nav(@pagy)  %>
              <!-- <%= pagy_nav(@pagy) if @pagy.pages > 1 %>-->


    </div>
            </div>
        </div>

    </div> <!--col-md-9-->
</div>

<script></script>    </div>
</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3 vc_hidden-sm vc_hidden-xs"><div class="vc_column-inner"><div class="wpb_wrapper">
<style></style>

<div class="sidebar-area-vc stm-sidebar-mode-vc ">
	<div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
<div class="stm-featured-boats-widget stm-boat-side-unit clearfix ">
			<h4 class="title">Featured Boats</h4>
		
					<a href="https://motors.stylemixthemes.com/boats/listings/alison-premium/" class="stm-featured-boats-w-units external" rel="nofollow">
													<div class="image">
						<img width="150" height="100" src="https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2015/12/Fotolia_80097123_Subscription_Monthly_M-150x100.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" loading="lazy" srcset="https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2015/12/Fotolia_80097123_Subscription_Monthly_M-150x100.jpg 150w, https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2015/12/Fotolia_80097123_Subscription_Monthly_M-300x200.jpg 300w, https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2015/12/Fotolia_80097123_Subscription_Monthly_M-768x512.jpg 768w, https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2015/12/Fotolia_80097123_Subscription_Monthly_M-1024x683.jpg 1024w, https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2015/12/Fotolia_80097123_Subscription_Monthly_M-1687x1125.jpg 1687w, https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2015/12/Fotolia_80097123_Subscription_Monthly_M-600x400.jpg 600w, https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2015/12/Fotolia_80097123_Subscription_Monthly_M-500x334.jpg 500w, https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2015/12/Fotolia_80097123_Subscription_Monthly_M.jpg 1688w" sizes="(max-width: 150px) 100vw, 150px">					</div>
								<div class="content car-listing-row">
					<div class="title heading-font">
						1992 Alison Jr Premium 					</div>
											<div class="price heading-font">
							$60 100						</div>
					
										<div class="car-meta-bottom">
						<ul>
																																<li>
																					<i class="stm-boats-icon-size"></i>
										
																					<span>99'9''</span>
																			</li>
																																								<li>
																					<i class="stm-icon-fuel"></i>
										
										
											
											
																									<span>Hybrid</span>
																							
																			</li>
																					</ul>
					</div>
				</div>
			</a>
					<a href="https://motors.stylemixthemes.com/boats/listings/alison-pk/" class="stm-featured-boats-w-units external" rel="nofollow">
													<div class="image">
						<img width="150" height="100" src="https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2015/12/Fotolia_61269900_Subscription_Monthly_M-150x100.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" loading="lazy" srcset="https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2015/12/Fotolia_61269900_Subscription_Monthly_M-150x100.jpg 150w, https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2015/12/Fotolia_61269900_Subscription_Monthly_M-300x200.jpg 300w, https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2015/12/Fotolia_61269900_Subscription_Monthly_M-768x512.jpg 768w, https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2015/12/Fotolia_61269900_Subscription_Monthly_M-1024x682.jpg 1024w, https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2015/12/Fotolia_61269900_Subscription_Monthly_M-1687x1124.jpg 1687w, https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2015/12/Fotolia_61269900_Subscription_Monthly_M-600x400.jpg 600w, https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2015/12/Fotolia_61269900_Subscription_Monthly_M-500x333.jpg 500w, https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2015/12/Fotolia_61269900_Subscription_Monthly_M.jpg 1688w" sizes="(max-width: 150px) 100vw, 150px">					</div>
								<div class="content car-listing-row">
					<div class="title heading-font">
						2003 Alison Jr PK845l 					</div>
											<div class="price heading-font">
							$67 999						</div>
					
										<div class="car-meta-bottom">
						<ul>
																																<li>
																					<i class="stm-boats-icon-size"></i>
										
																					<span>87'</span>
																			</li>
																																								<li>
																					<i class="stm-icon-fuel"></i>
										
										
											
											
																									<span>Hybrid</span>
																							
																			</li>
																					</ul>
					</div>
				</div>
			</a>
					<a href="https://motors.stylemixthemes.com/boats/listings/baycraft-md/" class="stm-featured-boats-w-units external" rel="nofollow">
													<div class="image">
						<img width="150" height="100" src="https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2015/12/Fotolia_71206777_Subscription_Monthly_M-150x100.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" loading="lazy" srcset="https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2015/12/Fotolia_71206777_Subscription_Monthly_M-150x100.jpg 150w, https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2015/12/Fotolia_71206777_Subscription_Monthly_M-300x200.jpg 300w, https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2015/12/Fotolia_71206777_Subscription_Monthly_M-768x513.jpg 768w, https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2015/12/Fotolia_71206777_Subscription_Monthly_M-1024x683.jpg 1024w, https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2015/12/Fotolia_71206777_Subscription_Monthly_M-1686x1125.jpg 1686w, https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2015/12/Fotolia_71206777_Subscription_Monthly_M-600x400.jpg 600w, https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2015/12/Fotolia_71206777_Subscription_Monthly_M.jpg 1687w" sizes="(max-width: 150px) 100vw, 150px">					</div>
								<div class="content car-listing-row">
					<div class="title heading-font">
						1999 Bay Craft MD878k 					</div>
											<div class="price heading-font">
							$325 000						</div>
					
										<div class="car-meta-bottom">
						<ul>
																																<li>
																					<i class="stm-boats-icon-size"></i>
										
																					<span>90'2'</span>
																			</li>
																																								<li>
																					<i class="stm-icon-fuel"></i>
										
										
											
											
																									<span>Gas</span>
																							
																			</li>
																					</ul>
					</div>
				</div>
			</a>
			</div>

	<div class="stm-boats-contact-information">
		<h4 class="title">Contact Us</h4>
		<ul class="stm-list-duty heading-font">
							<li class="widget_contacts_address">
					<div class="icon"><i class="stm-icon-pin"></i></div>
					<div class="text">1840 E Garvey Ave South West Covina, CA 91791</div>
				</li>
										<li class="widget_contacts_phone">
					<div class="icon"><i class="stm-service-icon-sales_phone"></i></div>
					<div class="text">
												(888) 354-1781					</div>
				</li>
			
			
							<li class="widget_contacts_hours">
					<div class="icon"><i class="stm-service-icon-sales_hours"></i></div>
					<div class="text">Mon – Fri: 09:00AM – 09:00PM Saturday: 09:00AM – 07:00PM Sunday: Closed</div>
				</li>
					</ul>
	</div>


<div class="stm-compact-sidebar">
    
        
                                            
                    
                    <div class="text-image" style="max-width:px;">
                        <img class="img-responsive" src="https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2016/07/banner-top-68x33.png">
                    </div>
                            
        
                    <div class="content">
                <h5><span style="color: #31a3c6;">SEARAY 410 SUNDANCER</span><br>
THOROUGHLY COVERED.</h5>
            </div>
        
                    <div class="image">
                <img class="" src="https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2016/07/banner-bottom-247x200.jpg" width="247" height="200" alt="banner-bottom" title="banner-bottom">            </div>
        


        </div></div></div></div></div>
</div></div></div></div></div>